<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Boyka</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Expense Tracker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Reminders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Financial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">About</a>
      </li>
    </ul>

    <div *ngIf="auth.user | async; then authenticated else guest">
    </div>

    <ng-template #guest>
      <h3>Hello, Guest</h3>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" routerLink="/user/login">Login</button>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" routerLink="/user/register">Register</button>
      </form>
    </ng-template>

    <ng-template #authenticated>
      <div *ngIf="auth.user | async as user">
        <h4 class="text-info">{{user.displayName}}</h4>
      </div>
    </ng-template>

  </div>
</nav>