<div class="container">
  <div class="social-login">
    <fieldset>
      <legend>Social Login</legend>
      <button type="button" class="btn btn-outline-primary btn-lg btn-block " (click)="auth.googleLogin()">Gmail</button>
      <button type="button" class="btn btn-outline-primary btn-lg btn-block">Facebook</button>
      <button type="button" class="btn btn-outline-primary btn-lg btn-block">Twitter</button>
      <button type="button" class="btn btn-outline-primary btn-lg btn-block">Git Hub</button>
    </fieldset>


  </div>
  <div class="outer">
    <div class="inner"></div>
  </div>
  <div>
    <form>
      <fieldset>
        <legend>Memeber Login</legend>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
  </div>
</div>
